*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 16px;
  display: block;
}

.container {
  margin: 30px auto;
  width: 575px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 150%;
  text-transform: uppercase;
  line-height: 2;
}

h2 {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
}

.photo {
  max-width: 100%;
  padding-bottom: 20px;
}

/*code for two-column design*/
@media screen and (min-width: 575px){
   div {
    margin: 0 auto;
    padding-left: 30px;
    float: left;
    width: 48%;
  }

/*code for four design*/
@media screen and (min-width: 991px){
   div {
    margin: 0 auto;
    padding-left: 30px;
    float: left;
    width: 24%;
  }
